Sultanlar/Sultanlar.WCF/Web References/KomsuC004/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s0="urn:sap-com:document:sap:soap:functions:mc-style" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:element name="ZwebKomsuF004">
        <xsd:complexType>
          <xsd:all>
            <xsd:element minOccurs="0" name="IvMatnr">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="18" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="IvWerks" type="s0:Werks" />
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwebKomsuF004Result">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="EtExport">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ZwebKomsuS_004" type="s0:ZwebKomsuS_004" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Werks">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Werks">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZwebKomsuS_004">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Productcode">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TaxRate">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PurchasePrice">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="11" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SalePrice">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="11" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SellerPrice">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="11" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Priceunit">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="ZwebKomsuF004Input">
    <part name="parameters" element="s0:ZwebKomsuF004" />
  </message>
  <message name="ZwebKomsuF004Output">
    <part name="parameters" element="s0:ZwebKomsuF004Result" />
  </message>
  <portType name="ZwebKomsuF004PortType">
    <operation name="ZwebKomsuF004">
      <input message="s0:ZwebKomsuF004Input" />
      <output message="s0:ZwebKomsuF004Output" />
    </operation>
  </portType>
  <binding name="ZwebKomsuF004Binding" type="s0:ZwebKomsuF004PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ZwebKomsuF004">
      <soap:operation soapAction="http://www.sap.com/ZwebKomsuF004" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ZwebKomsuF004Service">
    <documentation>SAP Service ZwebKomsuF004 via SOAP</documentation>
    <port name="ZwebKomsuF004PortType" binding="s0:ZwebKomsuF004Binding">
      <soap:address location="http://192.168.1.42:8000/sap/bc/soap/rfc" />
    </port>
  </service>
</definitions>