Sultanlar/Sultanlar.UI/Web References/SAPchangeorderC/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s0="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:element name="ZWEB_CHANGE_SALES_ORDER">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="IT_ITEMS">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:ZWEBS022" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="I_VBELN">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10" />
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZWEB_CHANGE_SALES_ORDER.Response">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="ET_RETURN">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="s0:BAPIRET2" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="BAPIRET2">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TYPE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ID">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="NUMBER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="LOG_MSG_NO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V2">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V3">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESSAGE_V4">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="50" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="PARAMETER">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="32" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ROW" type="xsd:int" />
          <xsd:element minOccurs="0" name="FIELD">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SYSTEM">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZWEBS022">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="POSNR">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="6" />
                <xsd:pattern value="\d*" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="FIYAT">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ISKONTO">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="WAERS">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="ZWEB_CHANGE_SALES_ORDERInput">
    <part name="parameters" element="s0:ZWEB_CHANGE_SALES_ORDER" />
  </message>
  <message name="ZWEB_CHANGE_SALES_ORDEROutput">
    <part name="parameters" element="s0:ZWEB_CHANGE_SALES_ORDER.Response" />
  </message>
  <portType name="ZWEB_CHANGE_SALES_ORDERPortType">
    <operation name="ZWEB_CHANGE_SALES_ORDER">
      <input message="s0:ZWEB_CHANGE_SALES_ORDERInput" />
      <output message="s0:ZWEB_CHANGE_SALES_ORDEROutput" />
    </operation>
  </portType>
  <binding name="ZWEB_CHANGE_SALES_ORDERBinding" type="s0:ZWEB_CHANGE_SALES_ORDERPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ZWEB_CHANGE_SALES_ORDER">
      <soap:operation soapAction="http://www.sap.com/ZWEB_CHANGE_SALES_ORDER" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ZWEB_CHANGE_SALES_ORDERService">
    <documentation>SAP Service ZWEB_CHANGE_SALES_ORDER via SOAP</documentation>
    <port name="ZWEB_CHANGE_SALES_ORDERPortType" binding="s0:ZWEB_CHANGE_SALES_ORDERBinding">
      <soap:address location="http://stella.tibet.com.tr:8000/sap/bc/soap/rfc" />
    </port>
  </service>
</definitions>