Sultanlar/Sultanlar.WindowsServiceIslemler/Web References/getmaterialpricesC/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s0="urn:sap-com:document:sap:soap:functions:mc-style" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:element name="ZwebGetMaterialPrices">
        <xsd:complexType>
          <xsd:all />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZwebGetMaterialPricesResult">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="EtMaterialPrices">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Zwebt004" type="s0:Zwebt004" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Zwebt004">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Mandt">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Pltyp">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Kdgrp">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Kunnr">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Matnr">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Kschl">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Kbetr">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="11" />
                <xsd:fractionDigits value="2" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Konwa">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="5" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Kpein">
            <xsd:simpleType>
              <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="5" />
                <xsd:fractionDigits value="0" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Kmein">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Zterm">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="4" />
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="Aedat" type="s0:date" />
          <xsd:element minOccurs="0" name="Aezet" type="s0:time" />
          <xsd:element minOccurs="0" name="Valdt" type="s0:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="....-..-.." />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="..:..:.." />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </types>
  <message name="ZwebGetMaterialPricesInput">
    <part name="parameters" element="s0:ZwebGetMaterialPrices" />
  </message>
  <message name="ZwebGetMaterialPricesOutput">
    <part name="parameters" element="s0:ZwebGetMaterialPricesResult" />
  </message>
  <portType name="ZwebGetMaterialPricesPortType">
    <operation name="ZwebGetMaterialPrices">
      <input message="s0:ZwebGetMaterialPricesInput" />
      <output message="s0:ZwebGetMaterialPricesOutput" />
    </operation>
  </portType>
  <binding name="ZwebGetMaterialPricesBinding" type="s0:ZwebGetMaterialPricesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ZwebGetMaterialPrices">
      <soap:operation soapAction="http://www.sap.com/ZwebGetMaterialPrices" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ZwebGetMaterialPricesService">
    <documentation>SAP Service ZwebGetMaterialPrices via SOAP</documentation>
    <port name="ZwebGetMaterialPricesPortType" binding="s0:ZwebGetMaterialPricesBinding">
      <soap:address location="http://192.168.1.5:8000/sap/bc/soap/rfc" />
    </port>
  </service>
</definitions>